@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&family=Open+Sans:wght@300;500&display=swap');


body {
    margin: 0;
    font-family: Cuprum;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    background-color: #1d1d1d;
}

header {
    margin: 0 auto;
    font-family: Cuprum;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    background-color: #0A0A0A;
    width: 1024px;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.logo {
    margin-top: 20px;
    min-width: 150px;
    color: white;
    width: 20%;
}

div.logo-img {
    background: url(img/in_head.jpg) lightgray 50% / cover no-repeat;
    width: 70%;
    margin: 10px 0;
    height: 178px;
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 11px;

}

div.nav {
    width: 1024px;
    height: 100px;
    background: #101010;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

button.basket {
    background: none;
    background-image: url(img/basket.png);
    background-size: cover;
    margin-top: 17px;
    margin-left: 10px;
    width: 70px;
    height: 67px;
    flex-shrink: 0;
    background-position: center;
    border: none;
}

div.basket {
    background: #3d3d3d;
    width: 340px;
    height: auto;
    min-height: 50px;
    color: white;
    font-family: Cuprum;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

h2.basket {
    margin: 9px 0 0 10px;
}

.nav-but {
    color: #FFF;

    font-family: Cuprum;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border-style: none;
}

.mainShop {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button.reg {
    background: none;
    background-image: url(img/reg.png);
    background-size: cover;
    margin-top: 17px;
    margin-left: 10px;
    width: 70px;
    height: 67px;
    flex-shrink: 0;
    background-position: center;
    border: none;
}

.FurIMG {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
}

.ShopItem {
    font-size: 25px;
    width: 200px;
    margin: 3%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.ShopItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.ShopItemText {
    display: flex;
    height: 133px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
}

.ShopButton {
    display: flex;
    font-size: 20px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: none;
    color: #000000;
}

.ShopButton:hover {

    background: #292929;
}

.ItemName {
    display: flex;
    margin: 10px 0px 0px 0px;
}

.ItemPrice {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    font-size: 22px;
}

.Sort {
    width: 200px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25px;


}

.SortList {
    display: block;
    border: 0px;
    padding: 0px;
    font-family: Cuprum;
    font-style: normal;
    font-size: 16px;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
}

.SortAling {
    display: flex;
    justify-content: center;
}

.SortText {
    margin:  3px 0px 0px 0px;
    white-space: nowrap
}
.SortListButton{
    border: 0px;
    background: none;
    font-size: 18px;
    font-family: Cuprum;
}

.SortListOption{
    border: 1px solid #1d1d1d;
}


button.SortListButton:hover{
    background-color: #3d3d3d;
}

.footer{
    background-color:#101010;
}

.More{
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
}
.MoreButton:hover{
    background: #292929;
}

.MoreButton{
    display: inline-block;
    margin-left: 10px;
}